.services-div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.manage-find {
  flex-basis: 200;
  flex-grow: 1;
}

.manage-div {
  width: 70%;
  padding: 10px;
}

.find-out-div {
  border: 2px solid hsl(180, 100%, 25%,0.4);
  background-color: hsl(9, 100%, 64%,0.1);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.m-bold {
  font-weight: 700;
}

/* About */