@media only screen and (max-width: 800px) {
  body {
    margin: 0px 0px 0px 0px !important;
    padding: 0%;
  }
  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  p {
    font-size: small !important;
  }

  button {
    font-size: 10px !important;
  }
  p {
    font-size: small !important;
  }

  #topBar {
    display: block !important;
  }

  .general-welcome {
    display: none !important;
  }

  .slideshow-container {
    margin-top: -10px !important;
    margin-bottom: -40px !important;
  }

  .slide-img {
    width: 90% !important;
    max-height: 300px !important;
  }
  .sign-in-div {
    margin-left: 50%;
  }

  .div-dsp-logo {
    margin-left: 5px !important;
  }

  .mobile-p {
    font-size: 0.6rem !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
  }

  .time-left {
    font-size: 10px;
  }

  .services-div {
    margin-bottom: 110px !important;
  }

  .count-down {
    font-size: 35px !important;
  }

  .js-general-nav {
    display: none;
    min-width: 150px !important;
  }

  /*Edashboard CSS mobile */
  .result-1 {
    font-size: 2.5rem !important;
  }

  .general-navBottom {
    display: block !important;
  }

  /* .dsp-btn {
    padding: 10px 12px !important;
  } */

  div.general-navBottom {
    position: fixed;
    width: 100%;
    bottom: 10px;
    border: 1px solid white;
    background-color: hsl(224, 55%, 12%, 0.5);
    backdrop-filter: blur(10px);
    margin-bottom: -10px;
  }

  .main-page {
    margin-bottom: 66px;
  }

  .why-choose-us {
    text-align: center;
    margin-bottom: 10px !important;
    margin-top: -10px !important;
  }

  .side-maincontent {
    display: grid;
    grid-template-columns: 0px 1fr !important;
    margin-left: -10px !important;
    padding: 8px !important;
  }

  .admin-all-container {
    padding: 10px !important;
    margin-bottom: 80px !important;
  }

  .general-form {
    padding: 10px !important;
  }
}

/* @media only screen and (max-width: 500px) {
  .sign-in-div {
    margin-left: 3000px;
  }

} */
* {
  box-sizing: border-box;
}
body {
  background-image: url(https://images.unsplash.com/photo-1653511442060-00c7b10827c4?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) !important;
  background: radial-gradient(circle at top left, #0e1730, #060913);
  /* background-color: #26262d; */
  color: white !important;
  letter-spacing: 0.4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
a,
p,
div {
  color: none;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

p {
  margin: 5px 0px 5px 0px;
  opacity: 60%;
}

a {
  text-decoration: none;
  color: white !important;
}

li {
  list-style: none;
}

/* Nav css  */
.general-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#topBar {
  background-color: hsl(0, 0%, 0%, 0.5);
  border-bottom: 1px solid white;
  display: none;
}

.img-user {
  width: 30px;
}

.color-btn {
  background-color: white !important;
  color: orange !important;
  border: 1px solid orange !important;
}

.color-btn:hover {
  background-color: orangered !important;
  color: white !important;
  border: 1px solid white !important;
}

.a-no-pad {
  background-color: #333;
}
.home-head {
  width: 30px;
}
.topnav {
  overflow: hidden;
  height: 45px;
  display: flex;
}

.button-div {
  display: flex;
  column-gap: 5px;
}

.log-in {
  padding: 12px 16px;
  width: 100px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: #111;
  color: white;
  cursor: pointer;
}

.log-in:hover {
  background-color: hsl(0, 0%, 51%, 0.55);
  color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
}

.topnav a:hover {
  background-color: hsl(0, 0%, 87%, 0.5);
  color: black;
}

@media screen and (max-width: 700px) {
  .topnav {
    display: none;
  }
  .moverlay {
    width: 100% !important;
  }
}

.topnav .responsive a {
  float: none;
  display: block;
  text-align: left;
}

.general-welcome {
  background-color: hsl(0, 0%, 0%, 0.9);
  height: 80px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center !important;
  padding: 0px 10px 0px 10px;
  border-bottom: 2px solid white;
  border-radius: 14px;
  backdrop-filter: blur(10px);
  justify-content: space-between;
}

.sub-welcome {
  display: flex;
  align-items: center;
  /* background-color: green; */
  text-align: center;
  justify-content: space-between;
}

.div-desktopbtn-reg-contact {
  background-color: hsl(0, 0%, 100%, 0.1);
  display: flex;
  padding: 10px;
  border-radius: 12px;
  gap: 10px;
}

.desktopbtn-reg-contact {
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%, 0.5);
  color: white;
}

.desktopbtn-reg-contact:hover {
  background-color: white;
  color: black;
}

.div-light-dark-hello {
  display: flex;
  align-items: center;
  /* background-color: orange; */
  justify-content: space-around;
}

.user-span {
  background-color: hsl(0, 0%, 100%, 0.8);
  backdrop-filter: blur(100px);
  border-radius: 50px;
  padding: 10px;
}

/* side bar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-icon {
  width: 50px;
}

.input-div {
  display: flex;
  align-items: center;
  align-items: center;
}
.help-input {
  width: 100%;
  height: 50px;
  border: 1px solid hsl(0, 0%, 0%, 0.2);
  border-radius: 50px;
  padding: 0px 100px 0px 10px;
}

.search-icon-btn {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  margin-left: -40px;
  cursor: pointer;
}

.search-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

.side-maincontent {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.main-page {
  margin-left: 10px !important;
  /* background-color: hsl(240, 8%, 16%, 0.5); */
}

/* Slideshow container */
.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-bottom: -20px;
  /* box-shadow: 5px 5px 5px 5px hsl(0, 0%, 0%, 0.5); */
  align-items: center;
  text-align: center;
}

.slide-img {
  max-height: 400px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0px;
  width: 0px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.count-down-div {
  /* justify-content: space-evenly; */
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px 0px 20px 0px;
  display: grid;
  font-size: 0.8rem;
  max-width: 100%;
  border-radius: 14px;
  border: 1px solid white;
  background-color: hsl(0, 0%, 100%, 0.1);
  backdrop-filter: blur(10px);
}

.count-down {
  margin: 0px;
  font-size: 4em;
  /* margin: 10px 0px 10px 0px; */
}

.why-choose-us {
  text-align: center;
  margin-bottom: 20px;
  margin-top: -50px;
}
.time-left {
  font-size: 1.2rem;
  margin: 5px;
}

.business-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}

.business {
  flex-grow: 1;
  flex-basis: 200;
}

.alt-business {
  background-color: hsl(0, 0%, 100%, 0.1);
  width: 300px;
  padding: 20px 10px 20px 10px;
  border-radius: 14px;
  backdrop-filter: blur(10px);
}

.business:hover {
  border: 3px solid orange;
}

.business-img {
  width: 100px;
  background-color: transparent;
}

.client-div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.client {
  flex-grow: 1;
  flex-basis: 200;
}

.client-img {
  border-radius: 12px;
}

.alt-client {
  max-width: 450p;
  text-align: center;
}

.pbold {
  font-weight: 700;
  font-size: 20px;
  margin-top: 2px;
}

/* .side-maincontent {
  display: grid;
  grid-template-columns: 220px 1fr;
} */

.call-div {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  text-align: center;
  padding: 50px 5px 50px 5px;
  background-color: hsl(0, 0%, 100%, 0.1);
  border-radius: 14px;
  border: 1px solid white;
  backdrop-filter: blur(10px);
}

.call {
  flex-grow: 1;
  flex-basis: 200;
  background-color: hsl(0, 7%, 46%, 0.2);
  padding: 30px 0px 30px 0px;
  border: 5px solid whitesmoke;
  border-radius: 12px;
}

.call:hover {
  border: 5px solid orange;
}

.color {
  background-color: hsl(0, 0%, 0%, 0.8);
  color: white;
}

.call-btn {
  height: 50px;
  width: 200px;
  border: none;
  background-color: hsl(0, 0%, 100%, 0.8);
  color: black;
  border-radius: 5px;
  font-weight: 700;
}

.call-btn:hover {
  background-color: white;
}

.call-color {
  color: black;
}

.span-underline {
  border-bottom: 3px solid orange;
}

.yellow-line {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.line {
  width: 40px;
  height: 3px;
  background-color: orange;
}

.call-img {
  width: 50px;
  background-color: transparent;
}

.agency-div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  background-color: hsl(0, 0%, 0%, 0.4);
  padding: 10px;
}

.agency {
  flex-grow: 1;
  flex-basis: 200;
  background-color: hsl(0, 0%, 0%, 0.04);
  padding: 10px 20px 10px 20px;
  color: white;
}

.media {
  display: flex;
  column-gap: 5px;
  margin-left: -40px;
}

.social-media-icon {
  width: 30px;
}

.ndp-container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
  gap: 5px;
  justify-content: space-between;
}

.ndp {
  /* flex-grow: 1;
  flex-basis: 200;
  background-color: hsl(0, 0%, 0%, 0.4);
  border-radius: 50%; */
  padding-top: 5px;
}

.ndp-img {
  width: 100%;
  height: 100%;
  max-width: 80px;
  border-radius: 50%;
}

/* Login css */
/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  color: white;
  box-sizing: border-box;
  border-radius: 12px;
}

/* Set a style for all buttons */
.all-btn {
  background-color: rgb(43, 44, 44);
  border-radius: 50px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.all-btn:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: hsl(0, 70%, 33%);
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: whitesmoke;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #ffffff;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/*Contact Css */
.econtact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.side-side {
  flex-grow: 1;
  flex-basis: 200;
  max-width: 400px;
}

.econtact-div {
  background-color: transparent;
  padding: 30px;
  max-width: 600px;
}

.contact-label {
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}

.your-message {
  width: 100%;
  height: 150px;
}

/* new side bar */

.logo-div {
  display: flex;
  align-items: center;
}

.js-general-nav {
  background-color: hsl(240, 8%, 16%, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 14px;
  align-items: center;
  width: 220px;
  padding: 10px;
  position: fixed;
}

.stick {
  margin-left: 21px;
  margin-bottom: 16px;
}

.sm-ul {
  padding: 0%;
  align-items: center;
}

.small-pad {
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: 900;
  text-align: center;
  opacity: 80%;
  color: orangered;
}

.li-hover {
  margin-top: 3px;
  padding: 5px;
  border-radius: 0px 15px 15px 0px;
  max-width: 300px;
  font-size: 1rem;
  font-weight: 900;
  align-items: center;
  list-style: none;
  display: flex;
  background-color: hsl(0, 0%, 0%, 0.2);
}

.li-hover:hover {
  background-color: hsl(16, 100%, 50%, 0.3);
  border-bottom: 1px white solid;
}

.social-media-icon {
  width: 30px;
  margin-right: 15px;
  background-color: none;
  padding: 2px;
  border-radius: 5px;
}

.norm {
  background-color: green;
}

.follow-us-div {
  border-bottom: 5px solid hsl(16, 100%, 50%, 0.3) !important;
  border-radius: 10px;
  /* border: 1px solid hsl(16, 100%, 50%, 0.3); */
  align-items: center;
}

/*unknown*/
.profile-img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

/*Top nav css new */
a {
  text-decoration: none;
}

.dsp-general {
  display: flex;
  justify-content: space-between;
  background-color: hsl(220, 26%, 14%, 0);
  align-items: center;
  padding-right: 5px;
  padding-left: 0px !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

.div-dsp-logo {
  display: flex;
  align-items: center;
  margin-left: -3px;
}

.dsp-logo {
  max-width: 50px;
}

.p-logo {
  font-weight: 900;
  font-size: 20px;
}

/* .dsp-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 15px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 900;
} */

/* .dsp-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
} */

/* New Bottom nav*/

.general-navBottom {
  /* background-color: hsl(39, 100%, 50%, 0.03);
  backdrop-filter: blur(100px) !important;
  border-radius: 30px 30px 0px 0px;
  border: 1px solid black;
  padding: 5px;
  margin: 0%; */
  display: none;
}

.li-navBottom {
  text-align: center;
  align-items: center;
  font-weight: 900;
  padding: 0px;
  cursor: pointer;
}

.li-navBottom:hover {
  background-color: hsl(180, 8%, 3%, 0.3);
  border-radius: 10px;
  padding: 5px;
}

.ul-navBottom {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
  padding: 0%;
  margin: 0%;
}

.icon-navBottom {
  max-width: 40px;
  padding: 3px;
  border-radius: 10px;
}

p {
  padding: 0%;
  margin: 0%;
  font-size: 100%;
}

/* Eservice CSS*/
/* Aout */
.services-div {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}

.manage-div {
  width: 100%;
  padding: 10px;
}

.find-out-div {
  border: 2px solid hsl(0, 0%, 100%, 0.2);
  background-color: hsl(0, 0%, 100%, 0.2);
  backdrop-filter: blur(100px);
  text-align: center;
  padding: 10px;
  border-radius: 14px;
}

.m-bold {
  font-weight: 700;
}

/* About */
/* theme switch*/
.light-mode {
  color: black !important;
  background-image: url(pictures/pawel-czerwinski-_hcYZYk9Abo-unsplashlight.png) !important;
}
